.Folder-open {
  max-width: 720px;
  border-radius: 6px;
  margin: 12px 0;
  cursor: pointer;

  .name {
    display: flex;
    align-items: center;
    .arrow-img {
      width: 10px;
      margin-right: 6px;
    }

    .arrow-img-rotate {
      transform: rotate(90deg);
    }

    .folder-img {
      width: 20px;
      margin-right: 6px;
    }
  }

  .inside-information {
    margin-left: 20px;
  }
}
